<!-- app/views/search/index.html.erb -->
<h1>Search</h1>
<%= form_with url: search_path, method: :get do %>
  <div>
    <%= text_field_tag :query, params[:query], placeholder: "Enter search query" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<!-- 検索結果を表示するためのコードを追加 -->
<!-- app/views/search/index.html.erb -->
<h1>Search Results for "<%= @query %>"</h1>

<h2>Animes</h2>
<ul>
  <% @animes.each do |anime| %>
    <li><%= link_to anime.title, anime_path(anime) %></li>
  <% end %>
</ul>

<h2>Voice Actors</h2>
<ul>
  <% @voice_actors.each do |voice_actor| %>
    <li><%= link_to voice_actor.name, voice_actor_path(voice_actor) %></li>
  <% end %>
</ul>
